
.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #fff;
    padding: 30px;
  }
  
  .socialMedia svg {
    font-size: 1.8rem;
    margin: 0 20px;
    color: #161616;
    transition: color 0.3s;
  }
  
  .socialMedia svg:hover {
    color: #E44D26;
  }
  